<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body>
    
    <h1>Welcome to the Text analier website</h1>

    <form action="/analyze" method="GET">
    <textarea name="text" id="" style="width: 1156px; height: 287px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punchuations <br>
    <input type="checkbox" name="uppercaps">UPPERCASE CHARACTERS <br>
    <input type="checkbox" name="newlineremover">New LineRemover <br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover <br>
    <button type="submit">analize here</button>
    </form>
</body>
</html>